<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <link href="https://www.jquery-az.com/boots/css/newsbox/site.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="https://www.jquery-az.com/boots/js/newsbox/jquery.bootstrap.newsbox.min.js" type="text/javascript"></script>
    <title>clubs For You</title>
</head>
<body>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card border-info ">
                    <div class="card-header">
                        <span class="glyphicon glyphicon-list-alt"></span><b>Technology News</b>
                    </div>
                    <div class="card-body">
                        <ul class="news-demo-down-auto">
                            <li class="news-item">New meeting at wednesday <a href="#">Read more...</a></li>
                            <li class="news-item">New teacher <br /><a href="#">Read more...</a></li>
                            <li class="news-item">Registrations open <a href="#">Read more...</a></li>
                            <li class="news-item">Applications pending <a href="#">Read more...</a></li>
                            <li class="news-item">Robocon updates <a href="#">Read more...</a></li>
                            <li class="news-item">Need of new management team <a href="#">Read more...</a></li>

                        </ul>
                    </div>
                     <div class="card-footer">
                         </div>
                </div>
                
            </div>

        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".news-demo-down-auto").bootstrapNews({
                newsPerPage: 3,
                autoplay: true,
                pauseOnHover: true,
                navigation: false,
                direction: 'down',
                newsTickerInterval: 1500,
                onToDo: function () {
                }
            });


        });
    </script>

   
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>


